<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=titulo%></title>
</head>
<body>
    <%-include('partials/header.ejs')%>
    <%-include('partials/nav.ejs')%>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptates eligendi quo expedita, recusandae magni sint beatae amet ullam laudantium ea, quibusdam eaque voluptatibus quas esse adipisci doloribus dolorum tenetur numquam.</p>
    <%-include('partials/footer.ejs')%>
</body>
</html>